@font-face {
    font-family: 'Geek';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;}

* {
    margin: 0%;
    padding: 0%;

    font-family: 'Geek';}
body {
    padding-top: 65px;
    background-color: whitesmoke;}
header {
    width: 100%;
    height: 60px;

    top: 0%;
    position: absolute;
    background-color: white;

    margin-bottom: 0;
    border-bottom: 5px solid white;

    z-index: 400;}
#bar_header {
    margin: 0 auto;
    width: 50vw;
    height: 60px;

    border-bottom: 5px solid whitesmoke;}
#img_header {
    position: absolute;
    height: 50px;

    margin-top: -10px;
    margin-left: 0px;

    z-index: 400;}
#button_header {
    float: right;}
#user_login {
    height: 40px;
    width: auto;
    margin: 12px 12px 0 0;
    background-color: white;}
#alim {
    height: 40px;
    width: auto;
    margin: 12px 12px 0 0;
    background-color: white;}
#search {
    height: 40px;
    width: auto;
    margin: 12px 12px 0 0;
    background-color: white;}
#user_login:hover {
    background-color: gray;}
#alim:hover {
    background-color: gray;}
#search:hover {
    background-color: gray;}
.header_p {
    padding: 1px 3vw 1px 3vw;
    font-size: 30px;

    text-align: center;}
#header_menu {
    padding: 0px;
    top: 0px;
    height: 40px;
    width: 100%;
    position: sticky;

    align-items: center;
    text-align: center;

    overflow: hidden;
    margin: 0 auto;

    background-color: white;
    border-bottom: 5px solid #210; 
    
    z-index: 400;}
#menu_mini {
    height: 27px;
    width: 55vw;

    margin: auto;}
button {
    border: none;
    background: transparent;

    font-size: 30px;}
button:hover {
    color: gray;}
#here {
    background-color: gray;

    height: 0.5vmin;
    bottom: inherit;
}

#whole_menu {
    position: relative;
    top: 5vmin;
    margin: 0 auto;

    width: 70vw;
    height: 60vmin;

    background-color: lightgray;
}

/* ----개별 코드 입력과 qr코드 입력으로 개인간 코인 거래---------- */

.code_box {
    margin: 5vmin;
    width: 55vmin;
    height: 55vmin;

    background-color: whitesmoke;
    border: 0.5vmin solid #210;
    border-radius: 3vmin;
}

.qr_box {
    margin: 5vmin;
    width: 55vmin;
    height: 55vmin;

    background-color: whitesmoke;
    border: 0.5vmin solid #210;
    border-radius: 3vmin;
}

#qrcode {
    width: 35vmin;
    height: auto;
}

#p_code {
    text-align: center;
    font-size: 7vmin;

}

#qr_img {
    position: relative;
    top: 5vmin;
    margin: 0 auto;

    text-align: center;
}
/* 바사아악한 쿠키 내가 먹을려고 구웠지 그럼 누구를 주려고 구웠겠냐 이자식아 */
#pw {
    margin: 10vmin 0 0 0;

    text-align: center;
}
#pw_box {
    width: 40vmin;
    height: 10vmin;
    font-size: 5vmin;
}

#key {
    text-align: center;

    
}




@media screen and (max-width: 767px) {
    body {
        padding-top: 45px;
    }
    /* header {
        height: 40px;
    }   */
    #bar_header {
        width: 100vw;
        height: 40px;
    }
    #header_menu {
        padding: 0px;
        top: 0px;
        height:27px;

        border-bottom: 2px solid #210;
    }
    #user_login {
        margin: 10px 10px 0 0;
        height: 20px;}
    #alim {
        height: 20px;
        margin: 10px 7px 0 0;}
    #search {
        height: 20px;
        margin: 10px 7px 0 0;}
    .header_p {
        font-size: 20px;}
    #img_header {
        margin: -10px 0px 0px 7px;
        width: auto;
        height: 30px;
        float: left;}
    button {
        font-size: 22px;}
    #here {
        width: 20vmin;}
    #whole_menu {
        position: absolute;

        top: 25vmin;
        width: 100vw;
        height: 180vw;
    }

    .box {
        margin: 10vmin auto;
        width: 70vmin;
        height: 70vmin;

        border: 1vmin solid #210;
    }

    .code_box {
        padding: 0px;
        margin: 5vmin auto;
        width: 80vmin;
        height: 50vmin;
    }

    .qr_box {
        margin: 5vmin auto;
        width: 80vmin;
        height: 55vmin;
    }
}